.cc-banner-box{
    width: 100%;
    height: 537px;
    background: url("../img/closed-courses/cc-banner.png") center no-repeat;
    background-size: cover;
    padding-top: 50px;
}
.cc-part{
    width: 100%;
    overflow: hidden;
}
.cc-title{
    font-size: 36px;
    font-weight: bolder;
}
/*part1*/
.cc-part-1{
    height: 410px;
    background: #e48637;
}
.yellow{
    color: #fbf100;
}
.cc-part-1 ul{
    width: 45%;
    float: left;
    color: #fff;
    text-align: left;
    font-size: 20px;
    padding-top: 30px;
}
.cc-part-1 ul>li{
    margin: 25px 0;
}
.cc-part-1 ul>li>p{
    text-align: left;
}
.cc-part-1 i{
    display: block;
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 20px;
}
.cc-icon-clock{
    background: url("../img/closed-courses/cc-icon-clock.png") center no-repeat;
    background-size: cover;
}
.cc-icon-local{
    background: url("../img/closed-courses/cc-icon-local.png") center no-repeat;
    background-size: cover;
}
.cc-icon-pen{
    background: url("../img/closed-courses/cc-icon-pen.png") center no-repeat;
    background-size: cover;
}
.toreg-btn{
    display: block;
    background: #fee500;
    width: 200px;
    height: 50px;
    color: #e48637;
    text-decoration: none;
    text-align: center;
    font-size: 24px;
    line-height:50px;
    transition: 0.3s;
    margin-left: 70px;
}
.toreg-btn:hover,
.toreg-btn:active{
    text-decoration: none;
    color: #e48637;
    background: #fecf0b;
}

.cake-img{
    float: right;
    width: 45%;
    margin-top:80px;
}

/*part2*/
.cc-part-2{
    background: #fff;
}
.cc-part-2 ul{
    width: 100%;
    overflow: hidden;
    margin: 30px 0;
    font-size: 16px;
}
.cc-part-2 ul>li{
    float: left;
    width: 22%;
    margin: 1%;
}
.cc-part-2 ul>li>img{
    width: 226px;
}
.cc-part-2 ul>li>p{
    width: 80%;
    margin: 0 auto;
}
.blue-divide{
    width: 80%;
    height: 5px;
    background: #c7e3e5;
    margin: 15px auto;
}

/*part3*/
.cc-part-3{
    height: 480px;
    background: url("../img/closed-courses/runway.png") center no-repeat;
    background-size: cover;
    padding-top: 25px;
}
.cc-part-3 ul{
    display: flex;
    margin-top: 50px;
}
.cc-part-3 ul>li{
    display: block;
    flex: 1;
    height: 280px;
    margin: 15px;
    background: url("../img/closed-courses/reason-card-bg.png") no-repeat center;
    background-size: cover;
    position: relative;
}
.cc-part-3 ul>li>img{
    margin-top: 23px;
}
.cc-part-3 ul>li>p{
    width: 84%;
    margin: 0 auto;
    text-align: left;
    margin-top: 50px;
    font-size: 14px;
}
.cc-part-3 ul>li>a{
    width: 84%;
    height: 30px;
    background: url("../img/closed-courses/reason-click-bg.png") right no-repeat;
    background-size: cover;
    color: #fff;
    line-height: 30px;
    display: block;
    border-radius: 3px;
    transition: 0.3s;
    text-align: left;
    padding-left: 15px;
    position: absolute;
    bottom: 15px;
    left:8%;

}
.cc-part-3 ul>li>a:hover{
    text-decoration: none;
    color: #fff;

}

/*part4*/
.cc-part-4{
    padding: 25px 0;
}
.cc-part-4 ul{
    margin-top: 30px;
    display: flex;
}
.cc-part-4 ul>li{
    flex: 1;
    font-size: 14px;
    color: #787878;
    line-height: 50px;
}
.cc-part-4 ul>li>img{
    display: block;
    margin: 0 auto;
}

/*part5*/
.cc-part-5{
    background: #49c9ad;
    padding-top: 10px;
    color: #fff;
}
.cc-part-5 li{
    position: relative;
    text-align: left;
    float: left;
    width: 25%;
    margin: 30px 4%;
    font-size: 18px;
    padding-top: 60px;
}
.cc-part-5 li>img{
    position: absolute;
    right: 0;
}
.cc-part-5 li .burger{
    top: 20px;
}
.cc-part-5 li .chicken{
    top:0;
}
.cc-part-5 li .soup{
    top:14px;
}

/*part6*/
.cc-part-6{
    padding-top: 25px;
    min-height: 500px;
    background-color: #fff;
}
.teacher-list{
    overflow: hidden;
    float: left;
    width: 300px;
    height: 155px;
    margin: 15px;
    transition: 0.3s;
    padding: 10px;
    cursor: default;
}
.teacher-list:hover{
    box-shadow: 2px 2px 6px rgba(98, 91, 96, 0.38);
}
.teacher-list .teacher-left{
    width: 60px;
    overflow: hidden;
    float: left;
}
.teacher-list img{
    width: 60px;
    height: 60px;
}
.teacher-list .teacher-right{
    float: left;
    width: 205px;
    margin-left: 15px;
    color: #787878;

}
.teacher-list .teacher-right h1{
    margin: 0;
    font-size: 18px;
    font-weight: bolder;
    text-align: left;
    line-height: 20px;
}
.teacher-list .teacher-right p{
    font-size: 12px;
    text-align: left;
    margin-top: 20px;
}

/*part7*/
.cc-part-7{
    padding-top: 65px;
    min-height: 500px;
    background: url("../img/closed-courses/gray-banner.png") center no-repeat;
    background-size: cover;
    padding-bottom: 60px;
}
.shelf-wrap{
    margin-top: 65px;
}
.shelf{
    width: 100%;
    height: 200px;
    background: url("../img/closed-courses/shelf.png") bottom no-repeat;
    background-size: contain;
    margin: 20px 0;
}
.shelf-container{
    width: 74%;
    margin: 0 auto;
}
.shelf-card{
    width: 182px;
    height: 170px;
    background: #fff;
    margin:0 26px;
    float: left;
    -moz-box-shadow: 0 10px 10px rgba(29,29,29,0.6);
    -webkit-box-shadow: 0 10px 10px rgba(29,29,29,0.6);
    box-shadow: 0 10px 10px rgba(29,29,29,0.6);
    cursor: auto;
    transition: 0.3s;
    position: relative;
}
.shelf-card:hover{
    box-shadow: 0 10px 10px rgba(29,29,29,0.8);
}
.shelf-card-img{
    width: 100%;
    height: 115px;
}
/*.shelf-card-cover{*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 115px;*/
    /*top:0;*/
/*}*/
.shelf-card p{
    font-size: 12px;
    line-height: 50px;
}
/*part8*/
.cc-part-8{
    padding-top: 30px;
    text-align: center;
}
.cc-part-8 img{
    width: 100%;
    margin-bottom: 30px;
}

/*part9*/
.cc-part-9{
    background: #656565;
}
.class-view{
    height: 400px;
    background: url("../img/closed-courses/class-view.png") center no-repeat;
    background-size: cover;
    opacity: 0.8;
    transition: 0.3s;
    line-height: 400px;
}
.class-view:hover{
    opacity: 1;
}
.class-view p{
    font-size: 67px;
    font-weight: bolder;
    color: #fff;
}
.gosign-block{
    height: 150px;
    line-height: 150px;
    font-size: 36px;
    font-weight: bolder;
    background: #fee500;
    color: #e58738;
    transition: 0.3s;
}
.gosign-block:hover{
    background: #fed90c;
    color: #e55a1b;
}
a:hover,a:link,a:visited{
    text-decoration: none;
}