*{font-family: Microsoft YaHei,Helvetica,Tahoma}
body{
    font-family: "Helvetica Neue", Helvetica, Arial, Verdana, "Trebuchet MS";
}
div,section,aside,p,article{
    text-align: center;
}
ul,li{
    list-style: none;
}
h1,h2,h3,h4{
    margin: 0;
    padding: 0;
}
a,a:link,a:visited,a:hover,a:active{
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
.form-btn{
    display: block;
    background: #e58538;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    margin: 0 auto;
    transition: 0.3s;
    cursor: pointer;
}
.overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    top:0;
    background: rgba(0, 0, 0, 0.4);
    display: none;
    z-index: 999;
}
/*导航栏*/
.navbar{
    display: block;
    width: 100%;
    height: 70px;
    background: #fff;
    position: relative;
}
.navbar .navbar-wrap{
    max-width: 1000px;
    margin: 0 auto;
    height: inherit;
    position: relative;
}
.navbar .nav-logo{
    width: 140px;
    height: 70px;
    background: url("../img/logo.png") center no-repeat;
    background-size: 120px 50px;
    float: left;
}
.navbar .nav-list{
    position: absolute;
    right: 0;
    overflow: hidden;
    margin: 0 100px;
}
.navbar .nav-list li{
    float: left;
    height: 70px;
    line-height: 70px;
    font-size: 16px;
    margin: 0 20px;
    cursor: pointer;
    transition: 0.2s;
    color: #555;
}
.navbar .nav-list li:hover,
.navbar .nav-list li:active{
    color: #f4a53d;
    border-bottom: solid 5px #f4a53d;
}
.nav-btn{
    display: none;
    position: absolute;
    right: 10px;
    top: 15px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-size: 40px;
    color: #555;
    padding: 0;
}
.nav-btn:hover,
.nav-btn:active{
    color: #f4a53d;
}

@media all and (max-width: 1200px){
    .navbar .navbar-wrap{
        max-width: 900px;
        height: inherit;
    }
}
@media all and (max-width: 1000px){
    .navbar .navbar-wrap{
        max-width: 800px;
        height: inherit;
    }
    .navbar .nav-list{
        position: absolute;
        right: 0;
        overflow: hidden;
        margin: 0;
    }
}
@media all and (max-width: 800px){
    .navbar .navbar-wrap{
        max-width:90%;
        height: inherit;
    }
    .navbar .nav-list li{
        float: left;
        height: 70px;
        line-height: 70px;
        font-size: 16px;
        margin: 0 15px;
        cursor: pointer;
        transition: 0.2s;
        color: #555;
    }

}
@media all and (max-width: 780px){
    .navbar .navbar-wrap{
        max-width: 100%;
        height: inherit;
    }
    .navbar .nav-list{
        width: 100%;
        position: absolute;
        top: 70px;
        right: 0;
        overflow: hidden;
        margin: 0;
        display: none;
        background: #fff;
        color: #555;
    }
    .navbar .nav-list ul{
        display: block;
        width: 100%;
        padding: 0;
    }
    .navbar .nav-list li{
        width: 100%;
        margin: 0;
        font-size: 22px;
        height: 70px;
        line-height: 70px;
        border-bottom: solid 1px #e6e6e6;
    }
    .nav-btn{
        display: block;
    }
}
/*页脚开始*/
.footer{
    width: 100%;
    min-height: 200px;
    padding-top: 50px;
    padding-bottom: 45px;
    background: #fff;
}
.footer-container{
    max-width: 800px;
    margin: 0 auto;
}
.footer-container p{
    color: #787878;
    font-size: 14px;
    margin: 5px 0;
}
.footer ul{
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 650px;
    overflow: hidden;
    margin-top: 35px;
}
.footer a{
    color: #888;
}
.footer a:hover,
.footer a:active{
    color: #555;
    text-decoration: none;
}
.footer li{
    display: inline-block;
    width: 100px;;
    float: left;
    font-size: 14px;
    cursor: pointer;
}
/*页脚结束*/


/*颜色设置*/
.orange{
    color: #e58537;
}
.wrap{
    width: 100%;
    background: #fff;
}
.section-container{
    max-width: 1000px;
    margin: 0 auto;
}
@media all and (max-width: 1100px){
    .section-container{
        max-width: 900px;
    }
}
@media all and (max-width: 900px){
    .section-container{
        max-width: 700px;
    }
}
@media all and (max-width: 700px){
    .section-container{
        max-width: 600px;
    }
}
@media all and (max-width: 620px){
    .section-container{
        max-width: 90%;
    }
}
.title{
    font-size: 35px;
    font-weight: bolder;
}
@media all and (max-width: 400px){
    .title{
        font-size: 28px;
    }
}
.divide-img{
    width: 350px;
}
.back-top{
    position: fixed;
    width: 60px;
    height: 60px;
    background: rgba(35, 35, 35, 0.47);
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    opacity: 0.8;
    cursor: pointer;
    display: none;
}
.back-top .back-top-icon{
    color: #fff;
    font-size: 25px;
    line-height: 57px;
    transition: 0.3s;
}
.back-top:hover{
    opacity: 1;
}
/*.back-top:hover .back-top-icon{*/
    /*color: #e58537;*/
/*}*/

.banner-txt{
    display: block;
    margin: 0 auto;
    max-width: 80%;
}

