.section{
    max-width: 100%;
    min-height: 200px;
}
.section1{
    background: url("../img/index/banner-bg.jpg") center no-repeat;
}
.section2{
    background: url("../img/index/1.jpg") center no-repeat;
    background-attachment: fixed;
}
.section3{
    /*background: url("../img/index/banner.jpg") center no-repeat;*/
    background: #1f455f;
}
.section4{
    /*background: url("../img/index/banner.jpg") center no-repeat;*/
}
.section1,
.section2,
.section4{
    background-size:cover;
    overflow: hidden;
}

/*section1*/
.section1{
    min-height: 535px;
    padding-top: 60px;
}
@media all and (max-width:500px){
    .section1{
        min-height: 535px;
        padding-top: 100px;
    }
}
.section1 img{
    max-width: 94%;
}


/*section2*/
.section2{
    padding: 50px 0;
    min-height: 700px;
}
.section2 h1{
    font-size: 40px;
    font-weight: bolder;
    margin: 0;
    color: #222;
}
.section2 p{
    font-size: 16px;
    margin: 50px auto;
    text-align: left;
    width: 85%;
    font-weight: bold;
}
.index-system-box{
    width: 100%;
    overflow: hidden;
}
.index-system-card{
    width: 225px;
    height: 385px;
    float: left;
    margin: 20px 54px;
    transition: 0.3s;
}
.index-system-card h1 {
    font-size: 28px;
    font-weight: bolder;
    color: #fff;
    margin: 5px 0;
    text-align: center;
}
.index-system-box .card1{
    background: #158a8f;
    color: #158a8f;
}
.index-system-box .card2{
    background: #eaad1c;
    color: #eaad1c;
}
.index-system-box .card3{
    background: #ce2e21;
    color: #ce2e21;
}
.index-system-card img{
    margin:0 auto 25px auto;
}
.index-system-card-txt{
    width: 190px;
    height: 140px;
    margin: 0 auto;
    background: #f6efe0;
    padding: 20px 15px;
    text-align: left;
}

@media all and (max-width: 1100px){
    .index-system-card{
        width: 225px;
        height: 385px;
        float: left;
        margin: 20px 35px;
    }
}
@media all and (max-width: 900px){
    .index-system-card{
        width: 225px;
        height: 385px;
        float: left;
        margin: 10px 4px;
    }
}
@media all and (max-width: 700px){
    .section2 p{
        font-size: 16px;
        width: 80%;
        margin: 30px auto;
        text-align: left;
    }
    .index-system-card{
        width: 225px;
        height: 385px;
        float: none;
        margin: 10px 20px;
        display: inline-block;
    }
}
/*section3*/
.section3 {
    padding: 50px 0;
    min-height: 200px;
}
.section3 h1{
    font-size: 40px;
    font-weight: bolder;
    color: #fff;
}
.section3 img{
    margin: 30px auto;
    max-width: 100%;
}
/*section4*/
.section4{
    background: #dcdcdc;
    padding: 50px 0;
    min-height: 600px;
}
.section4 h1{
    font-size: 40px;
    font-weight: bolder;
    color: #222;
    margin-bottom: 30px;
}
.section4 h2,
.section4 h3{
    font-size: 16px;
    color: #888;
    margin: 0;
    line-height: 25px;
}
.section4 .teacher-box{
    width: 100%;
    overflow: hidden;
}
.section4 .teacher-box .teacher-card{
    width: 150px;
    margin:30px 5px;
    height: 300px;
    float: left;
    opacity: 0.8;
}
.section4 .teacher-box .teacher-card:hover{
    opacity: 1;
}
.section4 .teacher-card img{
    width: 100%;
    height: 150px;
}
.section4 .teacher-card .teacher-info{
    width: 100%;
    height: 150px;
    background: #fff;
    padding: 5px;
}
.teacher-card .teacher-info h1{
    font-size: 22px;
    margin: 0;
}
.teacher-card .teacher-info p{
    font-size: 13px;
}

@media all and (max-width: 1000px){
    .section4 .teacher-box{
        width: 80%;
        overflow: hidden;
        margin: 0 auto;
    }
    .section4 .teacher-box .teacher-card{
        width: 150px;
        margin:30px 30px;
        opacity: 0.8;
    }
}
@media all and (max-width: 900px){
    .section4 .teacher-box{
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
    }
    .section4 .teacher-box .teacher-card{
        width: 150px;
        margin:20px 20px;
        opacity: 0.8;
    }
}
@media all and (max-width: 700px){
    .section4 .teacher-box{
        width: 90%;
        overflow: hidden;
        margin: 0 auto;
    }
    .section4 .teacher-box .teacher-card{
        width: 150px;
        margin:10px 8px;
        opacity: 0.8;
    }
}
@media all and (max-width: 600px){
    .section4 .teacher-box{
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    .section4 .teacher-box .teacher-card{
        width: 150px;
        margin:10px 30px;
        opacity: 0.8;
    }
}
@media all and (max-width: 600px){
    .section4 .teacher-box .teacher-card{
        width: 150px;
        margin:10px 10px;
        opacity: 0.8;
    }
}
@media all and (max-width: 400px){
    .section4 .teacher-box .teacher-card{
        width: 124px;
        margin: 5px 18px;
        height: 270px;
        float: left;
        opacity: 0.8;
    }
    .section4 .teacher-card img{
        width: 100%;
        height: 120px;
    }
}
@media all and (max-width: 350px){
    .section4 .teacher-box .teacher-card{
        margin: 5px 10px;
    }

}