.reg-banner{
    width: 100%;
    height: 290px;
    background:url("../img/register/reg-banner.jpg") center no-repeat;
    background-size: cover;
}
.reg-banner img{
    max-width: 80%;
    margin-top: 96px;
}
@media all and (max-width: 1000px){
    .reg-banner{
        height: 230px;
    }
    .reg-banner img{
        margin-top: 60px;
    }
}
@media all and (max-width: 450px){
    .reg-banner{
        height: 180px;
    }
    .reg-banner img{
        margin-top: 40px;
    }
}
@media all and (max-width: 1000px){

}
.reg-box{
    max-width: 800px;
    margin: 0 auto;
    min-height: 400px;
    padding-bottom: 80px;
}
.reg-step-bar{
    display:flex;
    width: 100%;
    overflow: hidden;
    padding: 0;
}
.reg-step-bar>li{
    display: block;
    height: 45px;
    float: left;
    margin: 0 2px;
    background: #d9d9d9;
    color: #555;
    flex: 1;
    font-size: 18px;
    line-height: 45px;
}

.reg-form{
    display: block;
    width: 50%;
    margin: 30px auto;
    position: relative;
}
.reg-form input[type=text]{
    width: 100%;
    height: 43px;
    border: #e58538 solid 1px;
    padding-left: 60px;
    margin: 5px 0 ;
    outline: none;
}
.reg-form input:first-child{
    background: url("../img/register/icon-man.png") left no-repeat;
}
.reg-form input:nth-child(2){
    background: url("../img/register/icon-phone.png") left no-repeat;
}
.reg-form input:nth-child(3){
    background: url("../img/register/icon-mail.png") left no-repeat;
}
.reg-form textarea{
    width: 100%;
    max-width: 100%;
    height: 150px;
    max-height: 150px;
    border: #e58538 solid 1px;
    padding-left: 10px;
    margin: 5px 0;
    outline: none;
}

.reg-btn{
    margin: 5px 0;
    font-size: 21px;
}
.reg-btn:hover{
    background: #dd6a2a;

}
.reg-btn:active{
    background: #d25022;
}
.reg-select-box{
    margin: 50px auto;
    width:100%;
    height: 200px;
    background: #fafafa;
    position: absolute;
    top:0;
    border-radius: 2px;
    box-shadow: 4px 4px 4px #6F6E6E;
    display: none;
    z-index: 9999;
    padding-top: 20px;
}
.reg-select-box p{
    font-size: 18px;
    color: #e58538;
    line-height: 50px;
}
.reg-select-box .reg-select{
    width: 80%;
    height: 35px;
    margin: 15px auto;
    color: #fff8ca;
    line-height: 35px;
    transition: 0.3s;
    cursor: pointer;
}
.reg-select-box .reg-select-a{
    background: #e58538;
}
.reg-select-box .reg-select-a:hover{
    background: #e56923;
}
.reg-select-box .reg-select-a:active{
    background: #e5451f;
}
.reg-select-box .reg-select-b{
    background: #a38c7a;
}
.reg-select-box .reg-select-b:hover{
    background: #92827c;
}
.reg-select-box .reg-select-b:active{
    background: #8b6754;
}

@media all and (max-width: 600px){
    .reg-form{
        width: 70%;
    }
}
@media all and (max-width: 450px){
    .reg-form{
        width: 80%;
    }
    .reg-step-bar>li{
        font-size: 12px;
        height: 40px;
        line-height: 40px;
    }
}


/*支付页面*/
.pay-txt{
    color: #888;
    font-size: 16px;
    margin: 50px 0 ;
}
.pay-btn{
    width: 340px;
    max-width: 80%;
    height: 40px;
    line-height: 40px;
    background: #ff6d00;
    cursor: pointer;
}
.pay-btn:hover{
    background: #ff5008;
}
.pay-btn:active{
    background: #ff3401;
}
.reg-pay-num{
    font-size: 20px;
    font-weight: bold;
    color: #ff6d00;
    margin:0 5px;
}

/*报名须知*/
.reg-info-container{
    width: 600px;
    max-width: 84%;
    margin: 0 auto;
}
.reg-info-title{
    font-size: 24px;
    font-weight: bolder;
    color: #e58537;
    margin: 20px;
}
.reg-info-article{
    font-size: 18px;
    color: #ababab;
    line-height: 28px;
    text-align: left;
}
.ez-checkbox-wrap{
    display: block;
    overflow: hidden;
    text-align: left;
    color: #ababab;
    font-size: 17px;
    line-height: 20px;
    margin: 10px 0;
}
.ez-checkbox{
    display: block;
    float: left;
    width: 20px;
    height: 20px;
    background: url("../img/checkbox.png") center no-repeat;
    background-position: 0 0 ;
    cursor: pointer;
    margin-right: 5px;
}

.ez-checkbox-checked{
    background-position: 0 -20px ;
}
.agree-btn{
    width: 340px;
    max-width: 100%;
    margin: 40px auto;
}
.agree-btn:hover{
    text-decoration: none;
    color: #fff;
    background: #e56923;
}
.agree-btn:active{
    background: #e5451f;
}

@media all and (max-width: 450px) {
    .reg-box{
        min-height: 300px;
        padding-bottom: 20px;
    }
    .reg-info-title{
        font-size: 20px;
        margin: 15px;
    }
    .reg-info-article{
        font-size: 16px;
    }
    .ez-checkbox-wrap{
        font-size: 15px;
    }
}
/*报名成功*/
.img-block{
    width: 100px;
    height: 100px;
    background: #e58538;
    margin: 100px auto 20px auto;
}
.reg-txt{
    font-size: 21px;
    color: #e58538;
    margin: 20px;
}
.reg-face{
    width: 85px;
    margin: 120px 0 40px 0
}

@media all and (max-width: 450px) {
    .reg-face{
        margin: 40px 0 0 0
    }
}