
.system-part{
    width: 100%;
    min-height: 200px;
    overflow: hidden;
    padding: 30px 0;
}
/*******system-part1*********/
.system-banner-box{
    min-height: 535px;
    background: url("../img/teaching-system/banner.png") no-repeat center;
    background-size: cover;
    color: #fff;
    padding-top: 160px;
}
.system-banner-txt{
    float: right;
    max-width: 100%;
}
.system-banner-top,
.system-banner-bot{
    max-width: 560px;
    text-align: left;

}
.system-banner-top{
    padding: 15px;
    background: rgba(21, 138, 143, 0.51);
    font-size: 24px;
    font-weight: bold;
}
.system-banner-bot{
    font-size: 14px;
    margin-top: 10px;
}

@media all and (max-width: 620px){
    .system-banner-box{
        padding-top: 80px;
    }
    .system-banner-txt{
        float:none;
        max-width: 100%;
    }
}
/*******system-part2*********/
.system-part2{
    background: #158a8f;
    min-height: 380px;
    color: #fff;
}
.system-part2-content{
    margin-top: 50px;
}
@media all and (max-width: 620px){
    .system-part2-content{
        margin-top: 30px;
    }
}
.book-box{
    width: 195px;
    height: 195px;
    border-radius: 50%;
    background: #fff;
    float: left;
    padding-top: 30px;
    font-size: 30px;
    font-weight: bold;
    color: #2f2f2f;
}
.book-box img{
    margin-bottom: 5px;
}
.system-part2-content-box{
    width: 805px;
    float: right;
    font-size: 20px;
}
.system-part2-content-box ul{
    display: block;
    margin-top: 30px;
    overflow: hidden;
    padding: 0;
}
.system-part2-content-box li{
    float: left;
    width: 25%;
}
.system-part2-content-box li img{
    width: 50%;
    display: block;
    margin: 10px auto;
}

@media all and (max-width: 1100px){
    .book-box{
        display: none;
    }
    .system-part2-content-box{
        width: 100%;
        float: none;
        font-size: 20px;
        margin: 0 auto;
    }
}
@media all and (max-width: 720px){
    .system-part2-content-box li{
        float: left;
        width: 50%;
    }
    .system-banner-txt{
        float: right;
        max-width: 100%;
    }
}
@media all and (max-width:500px){
    .system-part2-content-box{
        font-size: 16px;
    }
}
/*******system-part3*********/
.zk-box{
    width: 100%;
    min-height: 135px;
    overflow: hidden;
    padding: 15px;
    color: #fff;
    margin-top: 2px;
    padding-left: 100px;
    position: relative;
}
.zk-box1{
    background: #32a8a3;
}
.zk-box2{
    background: #65a57b;
}
.zk-box3{
    background: #98a352;
}
.zk-box4{
    background: #cca229;
}
.zk-box-left{
    width: 100px;
    font-size: 18px;
    font-weight: bold;
    position: absolute;
    left: 10px;
}
.zk-box-left img{
    display: block;
    margin: 5px auto;

}
.zk-box-right{
    padding: 10px;
    float: right;
    width: 100%;
    text-align: left;
    font-size: 14px;
}
@media all and (max-width: 520px){
    .zk-box{
        padding: 10px;
        padding-left: 100px;
    }
    .ts-block{
        display: none;
    }
}
/*******system-part4*********/